.app-auth-form__container--login {
  height: 320px;
}

.app-auth-form__content-row {
  align-items: center;
  justify-content: end;
}

.app-auth-form__link {
  color: var(--color-blue);
}

.app-auth-form__link:hover {
  opacity: .8;
  background-image: linear-gradient(#157AFF, #2496ED);
  background-size: 100% 2px;
}

@media (min-width: 420px) {

  .app-auth-form__container--login {
    height: 300px;
  }

  .app-auth-form__link {
    margin-left: 15px;
  }

  .app-auth-form__content-row {
    margin-bottom: 20px;
  }
}
