<form class="app-auth-form app-auth-form__container app-auth-form__container--login"
      [formGroup]="communalAccountForm" (ngSubmit)="onSubmit()">

  <app-input-field [label]="'Місто'" [type]="'text'" formControlName="city">

  </app-input-field>

  <app-input-field [label]="'Вулиця'" [type]="'text'" formControlName="street">

  </app-input-field>

  <app-input-field [label]="'Будинок'" [type]="'text'" formControlName="house"></app-input-field>

  <app-input-field [label]="'Квартира'" [type]="'text'" formControlName="apartment"></app-input-field>

  <app-input-field [label]="'Номер телефону'" [type]="'text'" formControlName="phone"></app-input-field>

  <button class="button app-auth-form__button" mat-flat-button>Зберегти дані</button>

</form>
