
<app-user-shared-floating-alert #openAlert></app-user-shared-floating-alert>

<form [formGroup]="indicatorsForm"
      class="content-page__form"
      *ngIf="providers.length != 0; else emptyState">
  <div class="content-page__providers" *ngFor="let provider of providers">
    <app-user-indicators-input *ngFor="let indicator of provider.provider.indicators"
                               [provider]="provider"
                               [title]="provider.provider.fullName"
                               [itemIcon] = "indicator.name"
                               [formControlName]="indicator.name"
                               required></app-user-indicators-input>
  </div>
  <button (click)="onSubmit()"
          class="content-page__form-btn button">
    Відправити</button>
</form>
<ng-template #emptyState>
  <p class="providers-empty">Провайдери не підключені!</p>
</ng-template>
