.content-page__form {
  max-width: 500px;
  border: none;
  border-radius: 7px;
  color: var(--color-dark-blue);
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.content-page__form-btn {
  margin-top: 15px;
  padding: 10px;
  background-color: var(--color-light-blue);;
  border-radius: 7px;
  color: var(--color-white);;
  font-size: 20px;
}
@media (min-width:600px) {

  .content-page__form {
    max-width: 600px;
    padding: 20px;
  }

}
