.home {
  width: 100%;
  height: 100%;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}

.home__main {
  width: 100%;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.home__title {
  width: 100%;
  text-align: center;
}

.home__title-text {
  font-weight: 600;
  margin: 0;
  font-size: calc(25px + (15 + 15 * 0.7) * ((100vw - 320px) / 1280));
  color: var( --color-dark-blue);
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
}

.home__title-desc {
  font-size: calc(20px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
  margin: 50px 0 0;
  color: var(--color-light-blue);
}

.section {
  padding: 40px 20px;
}

.section-title {
  margin: 0;
  line-height: 25px;
  font-size: calc(22px + (13 + 13 * 0.7) * ((100vw - 320px) / 1280));
  text-align: center;
  color: var( --color-dark-blue);
}

.content__section {
  background-color: #e9ebee;
}

.home__content-desc, .home__transfer-desc {
  margin: 20px 0 0;
  font-size: calc(15px + (7 + 7 * 0.7) * ((100vw - 320px) / 1280));
  text-align: justify;
  line-height: 28px;
}


.transfer__img {
  width: 100%;
  margin-top: 20px;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
}

.transfer__img-calendar {
  width: 100%;
}

.companies__section {
  border-top: solid 1px rgba(114, 114, 114, 0.59);
}

.companies-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home__companies-img {
  width: 100%;
  height: 130px;
  object-fit: contain;
  padding-top: 10px;
}

@media (min-width: 420px) {

  .home__title-text {
    font-size: calc(25px + 15 * (100vw  / 1280));
  }

  .home__title-desc {
    font-size: calc(22px + 10  * (100vw  / 1280));
  }

  .section {
    padding: 40px 30px;
  }

  .home__main-link {
    height: 40px;
    font-size: 22px;
  }

  .companies-wrapper {
    margin-top: 20px;
    column-gap: 20px;
  }

  .home__companies-img {
    width: 370px;
    padding-top: 0;
  }
}

@media (min-width: 1024px) {

  .section-title {
    font-size: calc(22px + 13  * (100vw  / 1280));
  }

  .home__content-desc, .home__transfer-desc {
    font-size: calc(15px + 7  * (100vw  / 1280));
    line-height: 35px;
  }

  .companies-wrapper {
    margin-top: 20px;
    gap: 30px;
  }

  .home__companies-img {
    width: 290px;
    padding-top: 0;
  }
}
