<div class="home">
  <div class="home__section">
    <div class="page__section">
      <div class="home__main">
        <div class="home__title">
          <h1 class="home__title-text">Міська система передання показників</h1>
          <p class="home__title-desc">передавайте показники з одного сайту</p>
        </div>
        <ng-container authLink>
          <a class="link home__main-link"
             routerLink="/auth/login">Увійти</a>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="content__section">
    <div class="page__section">
      <div class="home__content section">
        <h2 class="home__content-title section-title">Вітаємо Вас на сайті передання показників!</h2>
        <p class="home__content-desc">КП “Черкасиводоканал” – це сучасне підприємство, профілюючим видом діяльності якого є надання населенню послуг з централізованого водопостачання та водовідведення, експлуатація водопровідних і каналізаційних мереж та споруд.

          В зону обслуговування входить територія міста Черкаси. Також з КП “Черкасиводоканал” укладені договори на оптовий відпуск води для таких населених пунктів: с. Червона Слобода, с. Геронимівка, с. Хутори.</p>
      </div>
    </div>
  </div>

  <div class="transfer__section">
    <div class="page__section">
      <div class="home__transfer section">
        <h2 class="home__transfer-title section-title">Шановні споживачі!</h2>
        <p class="home__transfer-desc">Нагадуємо, побутові споживачі зобов'язані щомісяця зчитувати фактичні покази з лічильників та передавати їх оператору системи розподілу. Робити це потрібно станом на 1 число кожного місяця. Даними на 1 число вважаються дані, зчитані та передані протягом періоду, що розпочинається за два дні до кінця розрахункового періоду та завершується на третій календарний день наступного. Тобто, це два останні дні кожного місяця та три дні наступного за ним місяця.</p>
        <div class="transfer__img">
          <img class="transfer__img-calendar" src="assets/img/calendar-kviten-traven-2022.jpg" alt="calendar">
        </div>
      </div>
    </div>
  </div>

  <div class="companies__section">
    <div class="page__section">
      <div class="home__companies section">
        <h2 class="home__companies-title section-title">Компанії з якими ми співпрацюємо</h2>
        <div class="companies-wrapper">
          <div class="home__companies-item">
            <img class="home__companies-img" src="assets/logos/logo_1.jpg" alt="companies">
          </div>
          <div class="home__companies-item">
            <img class="home__companies-img" src="assets/logos/logo_2.jpg" alt="companies">
          </div>
          <div class="home__companies-item">
            <img class="home__companies-img" src="assets/logos/logo_3.png" alt="companies">
          </div>
          <div class="home__companies-item">
            <img class="home__companies-img" src="assets/logos/logo_5.png" alt="companies">
          </div>
          <div class="home__companies-item">
            <img class="home__companies-img" src="assets/logos/logo_4.jpg" alt="companies">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
