<div class="home">
  <div class="home__section">
    <div class="page__section">
      <div class="home__main">
        <div class="home__title">
          <h1 class="home__title-text">Міська Комунальна Система</h1>
          <p class="home__title-desc">Передавайте показники лічильників з одного сайту!</p>
        </div>
        <ng-container authLink>
          <a class="link home__main-link"
             routerLink="/auth/login">Увійти</a>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="content__section">
    <div class="page__section">
      <div class="home__content section">
        <h2 class="home__content-title section-title">Вітаємо Вас на сайті міської комунальної системи</h2>
        <p class="home__content-desc"> Для коректного формування рахунків за спожиті електроенергію, газ та воду необхідно вчасно передавати показники засобів обліку. Робити це слід щомісяця в кожну службу окремо з <strong> 29 по 03</strong> число, тобто, це два останні дні кожного місяця та три дні наступного за ним місяця. </p>
        <p class="home__content-desc">В наш час, повсякдення настільки насичене новинами та подіями, що тримати питання вчасної передачі показників в активній пам’яті вдається далеко не всім. Саме тому і був розроблений сервіс МКС де ви з легкістю зможете передати показники лічильників використовуючи наший сайт.
        </p>
        <div class="home__content-img">
          <img class="img-calendar" src="assets/img/calendar-kviten-traven-2022.jpg" alt="calendar">
        </div>
      </div>
    </div>
  </div>

  <div class="companies__section">
    <div class="page__section">
      <div class="home__companies section">
        <h2 class="home__companies-title section-title">Компанії</h2>
        <div class="companies-wrapper">
          <div class="home__companies-item">
            <a class="link" href="https://vodokanal-cherkasy.ck.ua/" target="_blank">
              <img class="home__companies-img" src="assets/logos/logo_2.jpg" alt="companies">
            </a>
          </div>
          <div class="home__companies-item">
            <a class="link" href="https://khimvolokno.com.ua/" target="_blank">
              <img class="home__companies-img" src="assets/logos/logo_3.png" alt="companies">
            </a>
          </div>
          <div class="home__companies-item">
            <a class="link" href="https://cherkasyoblenergo.com/" target="_blank">
              <img class="home__companies-img" src="assets/logos/logo_5.png" alt="companies">
            </a>
          </div>
          <div class="home__companies-item">
            <a class="link" href="http://www.chergas.ck.ua/" target="_blank">
              <img class="home__companies-img" src="assets/logos/logo_4.jpg" alt="companies">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
