<nav class="main-navigation main-navigation__users" appSwitchMenu [isShow]="isShow">

  <a class="link main-navigation__link"
     routerLink="/personal-cabinet"
     routerLinkActive="main-navigation__link--active">Персональний кабінет</a>

  <a class="link main-navigation__link"
     routerLink="/edit-form"
     routerLinkActive="main-navigation__link--active">Введення показників</a>

</nav>

<button class="button main-navigation__button-menu"  (click)="switchMenu()">
  <svg height="35" width="35">
    <use href="./assets/svg/sprites.svg#menu-icon"></use>
  </svg>
</button>
