.app-personal-cabinet-form-editor {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-white);
  z-index: 100;
  overflow-y: scroll;
}

.app-personal-cabinet-form-editor__form {
  max-width: 600px;
  min-width: 290px;
  z-index: 99999;
}

.app-personal-cabinet-form-editor__button {
  width: 100px;
  margin: 0 15px 15px 0;
  font-size: 16px;
}

.app-personal-cabinet-form-editor__button--close {
  background-color: #ff0202;
  color: #FFFFFF;
}

.app-personal-cabinet-form-editor__button--save {
  background-color: #0dd51f;
  color: #FFFFFF;
}

.app-personal-cabinet-form-editor__button:hover {
  opacity: .8;
}

@media (min-width: 599px) {

  .app-personal-cabinet-form-editor {
    backdrop-filter: blur(2px);
    background: rgba(0,0,0,.3);
  }

  .app-personal-cabinet-form-editor__form {
    margin: 70px 8px 5px 5px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%), 0 8px 16px rgb(141, 180, 241);

  }
}
