<form class="user-indicators-form-providers">

  <div class="user-indicators-form-providers__container">
    <label class="user-indicators-form-providers__label-provider">
      <mat-checkbox class="user-indicators-form-providers__checkbox-provider" (change)="changeStatusGas()" color="primary" ></mat-checkbox>
      <h3 class="user-indicators-form-providers__title-provider">Черкаси газ</h3>
    </label>
    <div class="user-indicators-form-providers__input-provider" *ngIf="isShowGas">
      <app-input-field [label]="'Номер особового рахунку'"
                       [type]="'number'"
                       formControlName="number">
      </app-input-field>
    </div>
  </div>

  <div class="user-indicators-form-providers__container">
    <label class="user-indicators-form-providers__label-provider">
      <mat-checkbox class="user-indicators-form-providers__checkbox-provider" (change)="changeStatusOblenergo()" color="primary" ></mat-checkbox>
      <h3 class="user-indicators-form-providers__title-provider">Черкаси обленерго</h3>
    </label>
    <div class="user-indicators-form-providers__input-provider" *ngIf="isShowOblenergo">
      <app-input-field [label]="'Номер особового рахунку'"
                       [type]="'number'"
                       formControlName="number">
      </app-input-field>
    </div>
  </div>

  <div class="user-indicators-form-providers__container user-indicators-form-providers__container--height">
    <label class="user-indicators-form-providers__label-provider">
      <mat-checkbox class="user-indicators-form-providers__checkbox-provider" (change)="changeStatusKhimvolokno()" color="primary" ></mat-checkbox>
      <h3 class="user-indicators-form-providers__title-provider">Черкаcьке хімволокно</h3>
    </label>

    <div class="user-indicators-form-providers__input-provider" *ngIf="isShowKhimvolokno">
      <mat-radio-button class="user-indicators-form-providers__radio-button" value="Ванна" checked="true">Ванна</mat-radio-button>
      <mat-radio-button class="user-indicators-form-providers__radio-button" value="Кухня">Кухня</mat-radio-button>

      <app-input-field [label]="'Номер особового рахунку'"
                       [type]="'number'"
                       formControlName="number">
      </app-input-field>
    </div>
  </div>

  <div class="user-indicators-form-providers__container">
    <label class="user-indicators-form-providers__label-provider">
      <mat-checkbox class="user-indicators-form-providers__checkbox-provider" (change)="changeStatusVodokanal()" color="primary" ></mat-checkbox>
      <h3 class="user-indicators-form-providers__title-provider">Черкаси водоканал</h3>
    </label>
    <div class="user-indicators-form-providers__input-provider" *ngIf="isShowVodokanal">
      <app-input-field [label]="'Номер особового рахунку'"
                       [type]="'number'"
                       formControlName="number">
      </app-input-field>
    </div>
  </div>

</form>
