.content-page__title {
  margin: 20px 10px 20px;
  padding: 0 10px;
  font-size: 35px;
  line-height: 35px;
}

.content-page__subtitle {
  margin: 10px 10px 10px;
  padding: 0 15px;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width: 420px) {

  .content-page__title {
    margin: 0 10px 55px;
    font-size: 40px;
    line-height: 40px;
  }

  .content-page__subtitle {
    margin: 0 10px 25px;
    font-size: 22px;
    line-height: 30px;
  }
}
