<form class="user-shared-form-providers"
      [formGroup]="providersForm">

  <div class="user-shared-form-providers__container">
    <label class="user-shared-form-providers__label-provider">
      <mat-checkbox class="user-shared-form-providers__checkbox-provider"
                    (change)="changeStatusGas()"
                    color="primary"
                    formControlName="gasStatus"></mat-checkbox>
      <h3 class="user-shared-form-providers__title-provider">ЧЕРКАСИГАЗ</h3>
    </label>
    <div class="user-shared-form-providers__input-provider"
         *ngIf="isShowGas">
      <app-input-field [label]="'Номер особового рахунку'"
                       [type]="'number'"
                       formControlName="gasNumber">
      </app-input-field>
    </div>
  </div>

  <div class="user-shared-form-providers__container">
    <label class="user-shared-form-providers__label-provider">
      <mat-checkbox class="user-shared-form-providers__checkbox-provider" (change)="changeStatusOblenergo()"
                    color="primary"
                    formControlName="oblenergoStatus"></mat-checkbox>
      <h3 class="user-shared-form-providers__title-provider">ЧЕРКАСИОБЛЕНЕРГО</h3>
    </label>
    <div class="user-shared-form-providers__input-provider" *ngIf="isShowOblenergo">
      <app-input-field [label]="'Номер особового рахунку'"
                       [type]="'number'"
                       formControlName="oblenergoNumber">
      </app-input-field>
    </div>
  </div>

  <div class="user-shared-form-providers__container user-shared-form-providers__container--height">
    <label class="user-shared-form-providers__label-provider">
      <mat-checkbox class="user-shared-form-providers__checkbox-provider"
                    (change)="changeStatusKhimvolokno()"
                    color="primary"
                    formControlName="khimvoloknoStatus"></mat-checkbox>
      <h3 class="user-shared-form-providers__title-provider">ЧЕРКАСЬКЕ ХІМВОЛОКНО</h3>
    </label>

    <div class="user-shared-form-providers__input-provider" *ngIf="isShowKhimvolokno">
      <mat-radio-button class="user-shared-form-providers__radio-button" value="Ванна" checked="true">Ванна</mat-radio-button>
      <mat-radio-button class="user-shared-form-providers__radio-button" value="Кухня">Кухня</mat-radio-button>

      <app-input-field [label]="'Номер особового рахунку'"
                       [type]="'number'"
                       formControlName="khimvoloknoNumber">
      </app-input-field>
    </div>
  </div>

  <div class="user-shared-form-providers__container">
    <label class="user-shared-form-providers__label-provider">
      <mat-checkbox class="user-shared-form-providers__checkbox-provider"
                    (change)="changeStatusVodokanal()"
                    color="primary"
                    formControlName="vodokanalStatus"></mat-checkbox>
      <h3 class="user-shared-form-providers__title-provider">ЧЕРКАСИВОДОКАНАЛ</h3>
    </label>
    <div class="user-shared-form-providers__input-provider" *ngIf="isShowVodokanal">
      <app-input-field [label]="'Номер особового рахунку'"
                       [type]="'number'"
                       formControlName="vodokanalNumber">
      </app-input-field>
    </div>
  </div>

</form>
