<form class="user-shared-form-providers"
      [formGroup]="providersForm">

  <div class="user-shared-form-providers__container">
    <label class="user-shared-form-providers__label-provider">
      <mat-checkbox class="user-shared-form-providers__checkbox-provider"

                    color="primary"
                    formControlName="gasStatus"></mat-checkbox>
      <h3 class="user-shared-form-providers__title-provider">ЧЕРКАСИГАЗ</h3>
    </label>
    <div class="user-shared-form-providers__input-provider"
         *ngIf="providersForm.value.gasStatus">
      <app-input-field [label]="'Номер особового рахунку'"
                       [type]="'number'"
                       formControlName="gasNumber">
      </app-input-field>
    </div>
  </div>

  <div class="user-shared-form-providers__container">
    <label class="user-shared-form-providers__label-provider">
      <mat-checkbox class="user-shared-form-providers__checkbox-provider"
                    color="primary"
                    formControlName="oblenergoStatus"></mat-checkbox>
      <h3 class="user-shared-form-providers__title-provider">ЧЕРКАСИОБЛЕНЕРГО</h3>
    </label>
    <div class="user-shared-form-providers__input-provider"
         *ngIf="providersForm.value.oblenergoStatus">
      <app-input-field [label]="'Номер особового рахунку'"
                       [type]="'number'"
                       formControlName="oblenergoNumber">
      </app-input-field>
    </div>
  </div>

  <div class="user-shared-form-providers__container user-shared-form-providers__container--height">
    <label class="user-shared-form-providers__label-provider">
      <mat-checkbox class="user-shared-form-providers__checkbox-provider"
                    color="primary"
                    formControlName="khimvoloknoStatus"></mat-checkbox>
      <h3 class="user-shared-form-providers__title-provider">ЧЕРКАСЬКЕ ХІМВОЛОКНО</h3>
    </label>

    <div class="user-shared-form-providers__input-provider user-shared-form-providers__input-provider--radio-button" *ngIf="providersForm.value.khimvoloknoStatus">
      <h4 class="user-shared-form-providers__subtitle-radio-button">Лічильник встановлений:</h4>
      <div class="user-shared-form-providers__radio-button-row">
        <label class="user-shared-form-providers__label-provider user-shared-form-providers__label-provider--radio-button">
          <input class="user-shared-form-providers__radio-button"
                 type="radio"
                 formControlName="khimvoloknoCounterInstalled"
                 value="Ванна">
          <p class="user-shared-form-providers__radio-button-text">Ванна</p>
        </label>

        <label class="user-shared-form-providers__label-provider">
          <input class="user-shared-form-providers__radio-button"
                 type="radio"
                 formControlName="khimvoloknoCounterInstalled"
                 value="Кухня">
          <p class="user-shared-form-providers__radio-button-text">Кухня</p>
        </label>
      </div>

      <app-input-field [label]="'Номер особового рахунку'"
                       [type]="'number'"
                       formControlName="khimvoloknoNumber">
      </app-input-field>
    </div>
  </div>

  <div class="user-shared-form-providers__container">
    <label class="user-shared-form-providers__label-provider">
      <mat-checkbox class="user-shared-form-providers__checkbox-provider"
                    color="primary"
                    formControlName="vodokanalStatus"></mat-checkbox>
      <h3 class="user-shared-form-providers__title-provider">ЧЕРКАСИВОДОКАНАЛ</h3>
    </label>
    <div class="user-shared-form-providers__input-provider" *ngIf="providersForm.value.vodokanalStatus">
      <app-input-field [label]="'Номер особового рахунку'"
                       [type]="'number'"
                       formControlName="vodokanalNumber">
      </app-input-field>
    </div>
  </div>

</form>
