<mat-form-field class="app-auth-form__field"
                appearance="outline">
  <mat-label>{{label}}</mat-label>
  <input matInput required
         [(ngModel)]="value"
         (blur)="onTouched()"
         (ngModelChange)="handleInput($event)" [type]="hide ? 'password' : 'text'">
  <button mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <ng-content></ng-content>
</mat-form-field>
