.user-indicators-account {
  width: 120px;
  margin: 17px 20px 0 00px;
  position: relative;
}

.user-indicators-account__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-indicators-account__button--account {
  height: 80px;
  flex-direction: column;
  background-color: var(--color-white);
  color: var(--color-dark-blue);
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%), 0 8px 16px rgb(165, 198, 248);
  border-radius: 10px;
}

.user-indicators-account__icon {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  background-color: #157AFF;
  border-radius: 50%;
}

.user-indicators-account__text {
  font-size: 14px;
  margin: 0;
}

.user-indicators-account__button--expand {
  /*width: 100%;*/
  width: 30px;
  height: 30px;
  margin-top: 15px;
  border-radius: 20px;
  background-color: var(--color-light-blue);
  color: var(--color-white);
  /*box-shadow: 0 1px 4px rgb(0 0 0 / 15%), 0 2px 16px rgb(179, 255, 172);*/
}

.user-indicators-account__icon-expand {
  width: 30px;
  height: 22px;
}

.user-indicators-account__setting {
  position: absolute;
  top: 92px;
  left: 35px;
  display: flex;
  justify-content: space-around;
}

.user-indicators-account__button--setting {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  background-color: transparent;
}

.user-indicators-account__button--setting:hover {
  transform: scale(1.2);
}

.user-indicators-account__button--account:hover {
  box-shadow: 0 8px 8px rgb(0 0 0 / 15%), 0 8px 16px rgb(0, 110, 253);
}
