<app-main-layout-page class="app-main-layout">
  <ng-container navigationLogo>
    <div class="main-navigation__wrapper">
      <a class="link main-layout-page-header__logo-icon" routerLink="/">
        <svg height="20" width="20">
          <use href="./assets/svg/sprites.svg#house-icon"></use>
        </svg>
      </a>
      <ng-container authLink>
        <a class="link main-navigation__link-auth main-navigation__link-auth--login"
           routerLink="/auth/login">Увійти</a>
      </ng-container>
    </div>
  </ng-container>



  <app-dashboard-home-page></app-dashboard-home-page>

  <app-layout-footer-view footer></app-layout-footer-view>

</app-main-layout-page>
