.main-layout-page-header__logo-icon {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid  #ffffff;
}
