<app-main-layout-page class="app-main-layout">

  <ng-container authLink>
    <a class="link main-navigation__link-auth main-navigation__link-auth--login"
       routerLink="/auth/login">Увійти</a>
  </ng-container>

  <ng-container navigationLinks>
    <app-main-layout-page-header-navigation-dashboard></app-main-layout-page-header-navigation-dashboard>
  </ng-container>

  <app-dashboard-home-page></app-dashboard-home-page>

  <app-layout-footer-view footer></app-layout-footer-view>

</app-main-layout-page>
