.user-indicators-section-accounts {
  min-height: 190px;
  width: 100%;
  /*margin-bottom: 10px;*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}


.user-indicators-section-accounts__button {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 17px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: 50%;
}

.user-indicators-section-accounts__icon {
  height: 35px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  background-color: #157AFF;
  border-radius: 50%;
}

.user-indicators-section-accounts__text {
  font-size: 15px;
  margin: 0;
}


