
<div class="indicators__item">
  <div class="indicators__inform">
    <svg class="indicators__inform-icon">
      <use [attr.xlink:href]="'/assets/svg/sprites.svg#'+ itemIcon"></use>
    </svg>
    <h2 class="indicators__inform-title">{{title | titlecase}}</h2>
  </div>
  <div class="indicators__field">
      <input class="indicators__field-input"
             placeholder="Показник"
             OnlyNumber="true"
             (ngModelChange)="handleInput($event)"
             [(ngModel)]="value"
             (click)="onTouched()">
  </div>
</div>

