<button class="app-personal-cabinet-card" type="button" (click)="onSelect(card.id)">

  <h1 class="app-personal-cabinet-card__user-name">{{card.fullName}}</h1>

  <div class="app-personal-cabinet-card__wrapper-button app-personal-cabinet-card__wrapper-button--edit">
    <button class="button app-personal-cabinet-card__button"
            (click)="editCard(card.id)">
      <svg>
        <use href="./assets/svg/sprites.svg#edit-icon"></use>
      </svg>
    </button>
  </div>

  <div class="app-personal-cabinet-card__wrapper-button app-personal-cabinet-card__wrapper-button--delete">
    <button class="button app-personal-cabinet-card__button"
            (click)="deleteCard(card.id)">
      <svg>
        <use href="./assets/svg/sprites.svg#delete-icon"></use>
      </svg>
    </button>
  </div>

  <div class="content-row app-personal-cabinet-card__content-row">
    <svg class="app-personal-cabinet-card__icon" height="50" width="50">
      <use href="./assets/svg/sprites.svg#place-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-card__title">Місто:</h3>
    <p class="app-personal-cabinet-card__subtitle">{{card.address.city}}</p>
  </div>

  <div class="content-row app-personal-cabinet-card__content-row">
    <svg class="app-personal-cabinet-card__icon" height="50" width="50">
      <use href="./assets/svg/sprites.svg#street-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-card__title">Вул.</h3>
    <p class="app-personal-cabinet-card__subtitle">{{card.address.street}}</p>
  </div>

  <div class="content-row app-personal-cabinet-card__content-row">
    <svg class="app-personal-cabinet-card__icon" height="50" width="50">
      <use href="./assets/svg/sprites.svg#house-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-card__title">Будинок:</h3>
    <p class="app-personal-cabinet-card__subtitle">{{card.address.house}}</p>
  </div>

  <div class="content-row app-personal-cabinet-card__content-row">
    <svg class="app-personal-cabinet-card__icon" height="50" width="50">
      <use href="./assets/svg/sprites.svg#apartment-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-card__title">Квартира:</h3>
    <p class="app-personal-cabinet-card__subtitle">{{card.address.house}}</p>
  </div>

  <h3 class="app-personal-cabinet-card__user-phone">тел. {{card.phone}}</h3>

</button>
