<div class="form__item">
  <div class="form__inform">
    <svg class="form__inform-icon color-{{itemIcon}}">
      <use [attr.xlink:href]="'/assets/svg/sprites.svg#'+ itemIcon"></use>
    </svg>
    <h2 class="form__inform-title">{{title | uppercase}}</h2>
  </div>
  <div class="form__field">
      <input class="form__field-input"
             placeholder="Показник"
             OnlyNumber="true"
             (ngModelChange)="handleInput($event)"
             [(ngModel)]="value"
             (click)="onTouched()">
  </div>
</div>

