.user-indicators-current-account {
  width: 100%;
  background-color: #bdbdbd47;
  margin-top: 20px;
}

.user-indicators-current-account__wrapper {
  display: flex;
  align-items: center;
  max-width: 1280px;
  border-radius: 8px;
  padding: 5px 20px;
  margin: 0 auto;
}

.user-indicators-current-account__address-icon {
  fill: #2496ed;
}

.user-indicators-current-account__address-title {
  margin: 0 0 0 15px;
  font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
}

