<nav class=" main-navigation__users">
  <a class="link main-layout-page-header__logo-icon" (click)="onHomePage()">
    <svg height="20" width="20">
      <use href="./assets/svg/sprites.svg#house-icon"></use>
    </svg>
  </a>

  <a class="link main-layout-page-header__link-icon"
     routerLink="/user/personal-cabinet">
    <svg height="35" width="35">
      <use href="./assets/svg/sprites.svg#account-icon"></use>
    </svg>
  </a>

  <a class="link main-layout-page-header__link-icon"
     routerLink="/user/indicators">
    <svg height="35" width="35">
      <use href="./assets/svg/sprites.svg#transfer-icon"></use>
    </svg>
  </a>
</nav>
