.main-navigation__users {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.main-layout-page-header__link-icon {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  background-color: transparent;
}

