<app-main-layout-page>

  <ng-container navigationLogo>
    <div class="main-navigation__wrapper">
      <a class="link main-layout-page-header__logo-icon" routerLink="/">
        <svg height="20" width="20">
          <use href="./assets/svg/sprites.svg#house-icon"></use>
        </svg>
      </a>
      <ng-container authLink>
        <a class="link main-navigation__link-auth main-navigation__link-auth--register"
           routerLink="/auth/register">Зареєструватися</a>
      </ng-container>
    </div>
  </ng-container>


  <app-auth-reset-password-form-page></app-auth-reset-password-form-page>

</app-main-layout-page>
