.indicators {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.toast{
  position: absolute;
  top: 80px;
  right: 20px;
  left: 20px;
  border-radius: 12px;
  background: #fff;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  border-left: 6px solid #4070f4;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active{
  transform: translateX(0%);
}

.toast .toast-content{
  display: flex;
  align-items: center;
}

.toast-content .check{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: #4070f4;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message{
  display: flex;
  flex-direction: column;
}

.message .text{
  font-size: 20px;
  font-weight: 400;;
  color: #666666;
}

.message .text.text-1{
  font-weight: 600;
  color: #333;
}

.toast .close{
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover{
  opacity: 1;
}

.toast .progress{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}

.toast .progress:before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}

.progress.active:before{
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100%{
    right: 100%;
  }
}

button{
  padding: 12px 20px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #4070f4;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background-color: #0e4bf1;
}

.toast.active ~ button{
  pointer-events: none;
}


.indicators-data {
  margin-bottom: 15px;
}
.indicators-title {
  font-size: 25px;
  font-weight: 500;
}

.divider {
  background-color: #e5e5e5;
}

.indicators-user__data {
  color: #333;
  border: 0;
}

.indicators-user__content {
  display: flex;
  align-items: baseline;
}

.indicators-user__data-title {
  font-size: 14px;
  margin: 0;
  width: 85px;
  display: flex;
  justify-content: left;
  font-weight: 500;
}

.indicators-user__data-subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

.indicators__form {
  max-width: 500px;
  border: none;
  border-radius: 7px;
  color: var(--color-dark-blue);
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.indicators__form-btn {
  margin-top: 15px;
  padding: 10px;
  background-color: var(--color-light-blue);;
  border-radius: 7px;
  color: #FFFFFF;
  font-size: 20px;
}

@media (min-width: 420px) {

  .indicators-data {
    margin-bottom: 30px;
  }

  .indicators-user__data-title {
    font-size: 18px;
  }

  .indicators-user__data-subtitle {
    font-size: 18px;
  }
}

@media (min-width:600px) {

  .indicators__form {
    max-width: 600px;
    padding: 20px;

  }
}
