.main-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.section {
  padding: 10px 20px 0;
}

.main-footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 30px;
}

.main-footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.main-footer__content:last-child {
  flex-direction: row;
}

.main-footer__content-title {
  margin-bottom: 5px;
  font-weight:600;
  font-size:16px;
}

.main-footer__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin: 0;
}

.main-footer__items-desc {
  color: #d3aa33;
}

.main-footer__item-desc:hover {
  opacity: .8;
}

.main-footer__item-phone-link:hover {
  opacity: .8;
}

.main-footer__item-email-link:hover {
  opacity: .8;
}

.main-footer__content-item:hover {
  opacity: .8;
}

.divider {
  width: 100%;
  margin: 0;
  opacity: .5;
}

.main-footer__bottom {
  padding: 5px 20px 0;
  text-align: center;
}

.main-footer__content-item {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:15px;
  color:#fff;
}

.main-footer__content-item:first-child {
  margin-left: 0;
}

.copyright {
  margin-bottom: 5px;
}
