<footer class="main-footer">
  <div class="page__section">
    <div class="main-footer__top section">
      <div class="main-footer__content">
        <h3 class="main-footer__content-title">Контактна інформація</h3>
        <ul class="main-footer__items">
          <li class="main-footer__item">
            <strong>Тел.: </strong>
            <a href="tel:%2B08801877576457" class="main-footer__item-phone-link link">+088 01877576457 </a>
          </li>
          <li class="main-footer__item">
            <strong> E-mail: </strong>
            <a class="main-footer__item-email-link link" href="mailto:test@gmail.com">test@gmail.com</a>
          </li>
          <li class="main-footer__item">
            м.Черкаси
          </li>
        </ul>
      </div>

      <div class="main-footer__content">
        <h3 class="main-footer__content-title">Компанії</h3>
        <ul class="main-footer__items main-footer__items-desc">
          <li class="main-footer__item-desc"><a class="link" href="https://vodokanal-cherkasy.ck.ua/" target="_blank">ЧЕРКАСИВОДОКАНАЛ</a></li>
          <li class="main-footer__item-desc"><a class="link" href="https://khimvolokno.com.ua/" target="_blank">ЧЕРКАСЬКЕ ХІМВОЛОКНО</a></li>
          <li class="main-footer__item-desc"><a class="link" href="https://cherkasyoblenergo.com/" target="_blank">ЧЕРКАСИОБЛЕНЕРГО</a></li>
          <li class="main-footer__item-desc"><a class="link" href="http://www.chergas.ck.ua/" target="_blank">ЧЕРКАСИГАЗ</a></li>
        </ul>
      </div>

      <div class="main-footer__content">
        <a class="main-footer__content-item" href="#"><i class="icon ion-social-facebook"></i></a>
        <a class="main-footer__content-item" href="#"><i class="icon ion-social-twitter"></i></a>
        <a class="main-footer__content-item" href="#"><i class="icon ion-social-instagram"></i></a>
      </div>

    </div>
  </div>
<hr class="divider">
  <div class="page__section">
    <div class="main-footer__bottom">
        <p class="copyright">Masters Academy © 2022</p>
    </div>
  </div>
</footer>
