.app-auth-form__container--register {
  height: 400px;
}

.app-auth-form__button-text {
  margin: 0;
}

@media (min-width: 340px) {

  .app-auth-form__container--register {
    height: 370px;
  }
}

@media (min-width: 420px) {

  .app-auth-form__container--register {
    height: 340px;
  }
}
