<section class="app-personal-cabinet-account">

   <button class="button app-personal-cabinet-account__button app-personal-cabinet-account__button--edit"
            (click)="onChangeAccount(account.id)">
      <svg>
        <use href="./assets/svg/sprites.svg#edit-icon"></use>
      </svg>
    </button>

    <button class="button app-personal-cabinet-account__button app-personal-cabinet-account__button--delete"
            (click)="onDeleteAccount(account.id)">
      <svg>
        <use href="./assets/svg/sprites.svg#delete-icon"></use>
      </svg>
    </button>

  <div class="content-row app-personal-cabinet-account__content-row">
    <svg class="app-personal-cabinet-account__icon">
      <use href="./assets/svg/sprites.svg#account-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title">П. І .Б.</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.fullName}}</p>
  </div>

  <div class="content-row app-personal-cabinet-account__content-row">
    <svg class="app-personal-cabinet-account__icon">
      <use href="./assets/svg/sprites.svg#pin-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title">Місто</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.address.city}}</p>
  </div>

  <div class="content-row app-personal-cabinet-account__content-row">
    <svg class="app-personal-cabinet-account__icon">
      <use href="./assets/svg/sprites.svg#street-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title">Вул.</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.address.street}}</p>
  </div>

  <div class="content-row app-personal-cabinet-account__content-row">
    <svg class="app-personal-cabinet-account__icon">
      <use href="./assets/svg/sprites.svg#house-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title">Будинок</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.address.house}}</p>
  </div>

  <div class="content-row app-personal-cabinet-account__content-row" *ngIf="account.address.flat">
    <svg class="app-personal-cabinet-account__icon">
      <use href="./assets/svg/sprites.svg#apartment-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title" >Квартира</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.address.flat}}</p>
  </div>

  <div class="content-row app-personal-cabinet-account__content-row" *ngIf="account.address.flat">
    <svg class="app-personal-cabinet-account__icon">
      <use href="./assets/svg/sprites.svg#phone-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title" >Телефон</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.phone}}</p>
  </div>

</section>
