<section class="app-personal-cabinet-account">

  <h1 class="app-personal-cabinet-account__user-name">{{account.fullName}}</h1>

  <div class="app-personal-cabinet-account__wrapper-button app-personal-cabinet-account__wrapper-button--edit">
    <button class="button app-personal-cabinet-account__button"
            (click)="onEditCard(account.id)">
      <svg>
        <use href="./assets/svg/sprites.svg#edit-icon"></use>
      </svg>
    </button>
  </div>

  <div class="app-personal-cabinet-account__wrapper-button app-personal-cabinet-account__wrapper-button--delete">
    <button class="button app-personal-cabinet-account__button"
            (click)="onDeleteCard(account.id)">
      <svg>
        <use href="./assets/svg/sprites.svg#delete-icon"></use>
      </svg>
    </button>
  </div>

  <div class="content-row app-personal-cabinet-account__content-row">
    <svg class="app-personal-cabinet-account__icon" height="50" width="50">
      <use href="./assets/svg/sprites.svg#place-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title">Місто:</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.address.city}}</p>
  </div>

  <div class="content-row app-personal-cabinet-account__content-row">
    <svg class="app-personal-cabinet-account__icon" height="50" width="50">
      <use href="./assets/svg/sprites.svg#street-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title">Вул.</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.address.street}}</p>
  </div>

  <div class="content-row app-personal-cabinet-account__content-row">
    <svg class="app-personal-cabinet-account__icon" height="50" width="50">
      <use href="./assets/svg/sprites.svg#house--icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title">Будинок:</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.address.house}}</p>
  </div>

  <div class="content-row app-personal-cabinet-account__content-row">
    <svg class="app-personal-cabinet-account__icon" height="50" width="50">
      <use href="./assets/svg/sprites.svg#apartment-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title" *ngIf="account.address.flat">Квартира:</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.address.flat}}</p>
  </div>

  <h3 class="app-personal-cabinet-account__user-phone">тел. {{account.phone}}</h3>

</section>
