.app-personal-cabinet-account {
  height: 210px;
  width: 285px;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: none;
  border-radius: 7px;
  background-color: #FFF;
  color: var(--color-dark-blue);
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
}

.app-personal-cabinet-account__button {
  width: 35px;
  height: 35px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
}

.app-personal-cabinet-account__button--edit {
  top: 10px;
  left: 10px;
}

.app-personal-cabinet-account__button--delete {
  top: 10px;
  right: 10px;
}

.app-personal-cabinet-account__icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  fill: #079f15;
}

.app-personal-cabinet-account__user-name {
  padding-bottom: 12px;
  margin: 10px 0 0;
  font-weight: 500;
}

.app-personal-cabinet-account__user-phone {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.app-personal-cabinet-account__content-row {
  align-items: center;
  width: 100%;
}

.app-personal-cabinet-account__title {
  margin: 0 0 0 20px;
  width: 85px;
  display: flex;
  justify-content: left;
  font-weight: 500;
}

.app-personal-cabinet-account__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}

.app-personal-cabinet-account__button:hover {
  transform: scale(1.2);
}

@media (min-width: 370px) {

  .app-personal-cabinet-account {
    height: 205px;
    width: 320px;
  }
}
