.app-personal-cabinet-account {
  height: 210px;
  width: 285px;
  margin: 30px 20px 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  border-radius: 7px;
  background-color: #FFF;
  color: var(--color-dark-blue);
}

.app-personal-cabinet-account__button {
  width: 35px;
  height: 35px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
  transform: scale(1.2);
}

.app-personal-cabinet-account__button--edit {
  bottom: 220px;
  left: 10px;
  color: var(--color-dark-blue);
}

.app-personal-cabinet-account__button--delete {
  bottom: 220px;
  right: 10px;
  color: #fc4343;
}

.app-personal-cabinet-account__icon {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  fill: #079F15;
}

.app-personal-cabinet-account__user-name {
  padding-bottom: 12px;
  margin: 10px 0 0;
  font-weight: 500;
}

.app-personal-cabinet-account__user-phone {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.app-personal-cabinet-account__content-row {
  align-items: center;
  width: 100%;
}

.app-personal-cabinet-account__title {
  margin: 0 0 0 30px;
  width: 100px;
  display: flex;
  justify-content: left;
  font-weight: 500;
}

.app-personal-cabinet-account__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}

.app-personal-cabinet-account__button:hover {
  transform: scale(1.4);
}

@media (min-width: 370px) {

  .app-personal-cabinet-account {
    height: 205px;
    width: 320px;
  }
}
