<section class="app-personal-cabinet-account">

  <h1 class="app-personal-cabinet-account__user-name">{{account.fullName}}</h1>

   <button class="button app-personal-cabinet-account__button app-personal-cabinet-account__button--edit"
            (click)="onEditCard(account.id)">
      <svg>
        <use href="./assets/svg/sprites.svg#edit-icon"></use>
      </svg>
    </button>

    <button class="button app-personal-cabinet-account__button app-personal-cabinet-account__button--delete"
            (click)="onDeleteCard(account.id)">
      <svg>
        <use href="./assets/svg/sprites.svg#delete-icon"></use>
      </svg>
    </button>

  <div class="content-row app-personal-cabinet-account__content-row">
    <svg class="app-personal-cabinet-account__icon" height="45" width="45">
      <use href="./assets/svg/sprites.svg#pin-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title">Місто:</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.address.city}}</p>
  </div>

  <div class="content-row app-personal-cabinet-account__content-row">
    <svg class="app-personal-cabinet-account__icon" height="50" width="50">
      <use href="./assets/svg/sprites.svg#street-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title">Вул.</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.address.street}}</p>
  </div>

  <div class="content-row app-personal-cabinet-account__content-row">
    <svg class="app-personal-cabinet-account__icon" height="30" width="30">
      <use href="./assets/svg/sprites.svg#house-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title">Будинок:</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.address.house}}</p>
  </div>

  <div class="content-row app-personal-cabinet-account__content-row" *ngIf="account.address.flat">
    <svg class="app-personal-cabinet-account__icon" height="40" width="40">
      <use href="./assets/svg/sprites.svg#apartment-icon"></use>
    </svg>
    <h3 class="app-personal-cabinet-account__title" >Квартира:</h3>
    <p class="app-personal-cabinet-account__subtitle">{{account.address.flat}}</p>
  </div>

  <h3 class="app-personal-cabinet-account__user-phone">тел. {{account.phone}}</h3>

</section>
