<!--<nav class="main-navigation main-navigation__dashboard" appToggleButton [showBurgerMenu]="isShowBurgerMenu">-->

<!--  <a class="link main-navigation__link"-->
<!--     routerLink="/"-->
<!--     routerLinkActive="main-navigation__link&#45;&#45;active"-->
<!--     [routerLinkActiveOptions]="{exact:true}">Головна сторінка</a>-->

<!--  <a class="link main-navigation__link"-->
<!--     routerLink="/news"-->
<!--     routerLinkActive="main-navigation__link&#45;&#45;active">Новини</a>-->

<!--  <a class="link main-navigation__link"-->
<!--     routerLink="/about"-->
<!--     routerLinkActive="main-navigation__link&#45;&#45;active">Про нас</a>-->

<!--</nav>-->

<!--<button class="button main-navigation__button-menu"  (click)="switchMenu()">-->
<!--  <svg height="35" width="35">-->
<!--    <use href="./assets/svg/sprites.svg#menu-icon"></use>-->
<!--  </svg>-->
<!--</button>-->



<!--бургеранімація-->
<!--<nav class="main-navigation main-navigation__dashboard header__menu">-->

<!--  <a class="link main-navigation__link"-->
<!--     routerLink="/"-->
<!--     routerLinkActive="main-navigation__link&#45;&#45;active"-->
<!--     [routerLinkActiveOptions]="{exact:true}">Головна сторінка</a>-->

<!--  <a class="link main-navigation__link"-->
<!--     routerLink="/news"-->
<!--     routerLinkActive="main-navigation__link&#45;&#45;active">Новини</a>-->

<!--  <a class="link main-navigation__link"-->
<!--     routerLink="/about"-->
<!--     routerLinkActive="main-navigation__link&#45;&#45;active">Про нас</a>-->

<!--</nav>-->

<!--<button class="header__burger"-->
<!--        (click)="test()"-->
<!--        [ngClass]="{'header__burger-active': isAlertOpen}">-->
<!--  <span class="header__burger-line"></span>-->
<!--</button>-->
