<ng-container *ngIf="controlsName?.dirty" class="test">

  <p *ngIf="controlsName?.hasError('required')">Некоректне відображення введених даних</p>

  <p *ngIf="controlsName?.hasError('email')">Необхідно коректно вказати електронну пошту</p>

  <p *ngIf="controlsName?.hasError('minlength' )">Необхідно вказати мінімум {{ minLengthSymbol }} символів</p>

  <p *ngIf="controlsName?.hasError('notMatch')">Паролі не співпадають!</p>

  <p *ngIf="controlsName?.hasError('pattern')">Пароліasdfadfas!</p>

</ng-container>
