.main-navigation__link--login {
  margin-right: 80px;
}

@media (max-width: 767px) {

  .main-navigation__link--login {
    margin: 0 30px;
    color: var(--color-white);
  }

  .main-navigation__link--login:hover {
    background-image: linear-gradient(#FFF, #f4f5f6);
    background-size: 100% 2px;
  }

}
