<form class="app-user-profile-form"
      [formGroup]="profileForm"
      (ngSubmit)="onChangeDataUser()">

  <h2 class="app-user-profile-form__title">Змінити email</h2>

  <app-input-field [label]="'Вкажіть новий email'"
                   [type]="'email'"
                   [required]="true"
                   formControlName="email">
    <app-message-errors class="app-auth-form__message-errors"
                        [controlsName]="controls.email"></app-message-errors>
  </app-input-field>

  <h2 class="app-user-profile-form__title">Змінити пароль</h2>

  <app-input-password [label]="'Вкажіть старий пароль'"
                      [required]="true"
                      formControlName="oldPassword">
    <app-message-errors class="app-auth-form__message-errors"
                        [controlsName]="controls.oldPassword"></app-message-errors>
  </app-input-password>

  <app-input-password [label]="'Вкажіть новий пароль'"
                      [required]="true"
                      formControlName="password">
    <app-message-errors class="app-auth-form__message-errors"
                        [controlsName]="controls.password"></app-message-errors>
  </app-input-password>

  <app-input-password [label]="'Повторіть новий пароль'"
                      [required]="true"
                      appConfirmPasswordValidator="password"
                      formControlName="repeatPassword">
    <app-message-errors class="app-auth-form__message-errors"
                        [controlsName]="controls.repeatPassword"></app-message-errors>
  </app-input-password>

  <button class="button app-user-profile-form__button"
          mat-flat-button
          type="submit">Зберегти</button>

</form>
