<div class="content-page" *ngIf="!isLoader">

  <app-user-shared-form-add-account (isCloseFormAccount)="isCloseFormAccount()"
                                    appToggleButton
                                    (fetchData)="fetchData()"
                                    [showFormAddAccount]="isShowFormAddAccount"></app-user-shared-form-add-account>

  <app-user-personal-cabinet-form-change-account (isCloseFormAccount)="isCloseFormAccount()"
                                                 appToggleButton
                                                 (fetchData)="fetchData()"
                                                 [accountData]="accountData"
                                                 [showFormChangeAccount]="isShowFormChangeAccount"></app-user-personal-cabinet-form-change-account>

  <div class="content-page__block content-page__block--account" *ngIf="!isExpandPrivateData">

    <h2 class="content-page__title" >Редагувати рахунок:</h2>

    <button class="button content-page__button user-indicators-account__button--expand"
            (click)="onExpandDataAccount()">
      <svg height="25" width="25">
        <use [attr.href]="'./assets/svg/sprites.svg#expand-' + iconNameExpendAccount + '-icon'"></use>
      </svg>
    </button>

    <div class="content-page__add-account" *ngIf="isExpandDataAccount">

      <p class="content-page__message-text"
         *ngIf="!massageText">Необхідно додати адресу.</p>

      <app-user-personal-cabinet-account *ngFor="let account of accountData"
                                         [account]="account"
                                         (changeAccount)="changeAccount($event)"
                                         (deleteAccount)="fetchData()"></app-user-personal-cabinet-account>

      <button class="button content-page__button content-page__button--add-address"
              mat-button
              *ngIf="accountData.length === 0"
              (click)="onShowFormAddAccount()">Додати адресу</button>
    </div>

  </div>

    <div class="content-page__block content-page__block--private-data" *ngIf="!isExpandDataAccount">

      <h2 class="content-page__title">Редагувати персональні дані:</h2>

      <button class="button content-page__button user-indicators-account__button--expand"
              (click)="onExpandPrivateData()">
        <svg height="25" width="25">
          <use [attr.href]="'./assets/svg/sprites.svg#expand-' + iconNameExpendPrivateData + '-icon'"></use>
        </svg>
      </button>

      <div class="content-page__block-private-data" *ngIf="isExpandPrivateData">

        <app-user-personal-cabinet-form-private-data></app-user-personal-cabinet-form-private-data>

      </div>
    </div>
</div>

<mat-spinner class="content-page__loader" *ngIf="isLoader"></mat-spinner>
