.content-page {
  width: 100%;
  color: var(--color-dark-blue);
}

.content-page__block{
  width: 300px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  background-color: #FFF;
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
}

.content-page__block--account {
  margin: 40px 10px 20px 10px;
}

.content-page__block--private-data {
  margin: 20px 10px 40px;
}

.content-page__title {
  font-size: 24px;
}

.content-page__button {
  border-radius: 9px;
  color: var(--color-white);
}

.user-indicators-account__button--expand {
  height: 40px;
  width: 150px;
  background-color: var(--color-light-blue);
}

@media (min-width: 350px) {

  .content-page__block{
    width: 340px;
 }
}

@media (min-width: 400px) {

  .content-page__block{
    width: 350px;
  }
}
