<form class="app-auth-form app-auth-form__container app-auth-form__container--login"
      [formGroup]="communalAccountForm" >

  <app-input-field [label]="'Прізвище І.П.'"
                   [type]="'text'"
                   [required]="true"
                   formControlName="fullName"></app-input-field>

  <app-input-field [label]="'Місто'" [type]="'text'" [required]="true" formControlName="city"></app-input-field>

  <app-input-field [label]="'Вулиця'" [type]="'text'" [required]="true"  formControlName="street"></app-input-field>

  <app-input-field [label]="'Будинок'" [type]="'text'" [required]="true" formControlName="house"></app-input-field>

  <app-input-field [label]="'Квартира'" [type]="'text'" formControlName="apartment"></app-input-field>

  <app-input-field [label]="'Номер телефону'" [type]="'tel'" [required]="true" formControlName="phone"></app-input-field>

</form>
