<form [formGroup]="credentialsForm">

  <app-input-field [label]="'Прізвище І.Б.'"
                   [type]="'text'"
                   [required]="true"
                   formControlName="fullName"></app-input-field>

  <app-input-field [label]="'Номер телефону'"
                   [type]="'tel'"
                   [required]="true"
                   formControlName="phone">
    <app-message-errors class="app-auth-form__message-errors" [controlsName]="controls.phone"></app-message-errors>
  </app-input-field>

</form>

