*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 300px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 20px;
  background-color: var(--color-page);
  scroll-behavior: smooth;
}

:root {
  --color-page: #fffdfd;
  --color-light-blue: #2496ED;
  --color-dark-blue: #022044;
  --color-blue: #157AFF;
  --color-white: #FFF;
  --color-green: #0dd51f;
  --color-grey: #eff0f2;
}

.link {
  text-decoration: none;
  color: inherit;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size .3s;
  cursor: pointer;
}

.button {
  font-size: 18px;
  border: none;
  cursor: pointer;
  /*overflow: hidden;*/
}

.content-row {
  display: flex;
}

.content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-layout-page__lock {
  overflow: hidden;
}

      /*auth*/

.app-auth-form {
  display: flex;
  justify-content: space-around;
}

.app-auth-form__field {
  width: 100%;
}

.app-auth-form__container {
  flex-direction: column;
  width: 290px;
  margin: 10px;
  padding: 20px;
  border-radius: 7px;
  background-color: #FFF;
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
}

.app-auth-form__button {
  height: 50px;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.app-auth-form__message-errors {
  position: absolute;
  top: 50px;
  left: -5px;
}

/*home page*/
.home__main-link {
  padding: 0 20px;
  margin-top: 50px;
  max-width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var( --color-dark-blue);
  color: var(--color-white);
  border-radius: 7px;
  z-index: 5;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}

      /*personal-cabinet*/

.app-personal-cabinet-form {
  width: 400px;
}
/*!!!!!*/
.content-page__app-personal-cabinet-form-editor {
  display: none;
}

      /*navigation*/

.main-navigation {
  display: none;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.main-navigation__link {
  margin-top: 30px;
  color: var(--color-blue);
}

.main-navigation__link-auth--login {
  width: 80px;
  margin: 0 20px;
  color: var(--color-white);
}

.main-navigation__link--active {
  background-image: linear-gradient(#2496ED, #157AFF);
  background-size: 100% 2px;
}

.main-navigation__button-menu {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  left: 100px;
  top: 15px;
}

.main-navigation__switch-menu {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-self: center;
  position: absolute;
  left: 0;
  top: 70px;
  background-color: var(--color-page);
  animation: curtain 1s;
  z-index: 99999;
}

.main-navigation__link-auth {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-white);
  border-radius: 7px;
}

.main-navigation__link-auth--register {
  width: 180px;
}

.main-navigation__link-auth--login {
  width: 100px;
  margin: 0 15px 0 0;
}

.content-page__loader {
  position: absolute;
  left: 35%;
}

      /*hover effects*/

.button:hover {
  opacity: .9;
}

.main-navigation__link:hover {
  background-image: linear-gradient(#2496ED, #157AFF);
  background-size: 100% 2px;
}

.main-navigation__link-auth:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
  transition: .2s;
}

.main-navigation__link-auth:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
  transition: .4s;
}

@media (min-width: 420px) {
  .app-auth-form__container {
    width: 350px;
  }

  .main-navigation__button-menu {
    left: 140px;
  }

  .content-page__loader {
    position: absolute;
    left: 40%;
  }
}

@media (min-width: 850px) {

  .home__main-link {
    display: none;
  }
  .app-auth-form__container {
    width: 380px;
  }

  .main-navigation__link-auth--register {
    width: 200px;
    margin-right: 40px;
  }

  .main-navigation__link-auth--login {
    width: 100px;
    margin-right: 50px;
  }

  /*navigation*/

  .main-navigation {
    display: flex;
  }

  .main-navigation__link {
    margin: 0;
    color: var(--color-white);
  }

  .main-navigation__button-menu {
    display: none;
  }

  .main-navigation__switch-menu {
    display: none;
  }

  .main-navigation__link--active {
    background-image: linear-gradient(#FFF, #f4f5f6);
    background-size: 100% 2px;
  }


  .content-page__loader {
    left: 50%;
  }

  .main-navigation__link:hover {
    background-image: linear-gradient(#FFF, #f4f5f6);
    background-size: 100% 2px;
    opacity: .9;
  }
}

/*animation*/

@keyframes curtain {

  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

/*.custom-style{*/
/*  font-size: 16px;*/
/*  font-weight: 500;*/
/*  background-color: #ef2a2a;*/
/*  color:white;*/
/*  height: 20px;*/
/*}*/
