*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 300px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 20px;
  background-color: var(--color-page);
  scroll-behavior: smooth;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

:root {
  --color-page: #FFFDFD;
  --color-light-blue: #2496ED;
  --color-dark-blue: #022044;
  --color-blue: #157AFF;
  --color-white: #FFF;
  --color-green: #0DD51F;
  --color-grey: #EFF0F2;
  --indicators-input: #212529;
}

.link {
  text-decoration: none;
  color: inherit;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size .3s;
  cursor: pointer;
}

.button {
  font-size: 18px;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.content-row {
  display: flex;
}

.content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-layout-page__lock {
  overflow: hidden;
}

.app-auth-form {
  display: flex;
  justify-content: space-around;
}

mat-form-field.mat-form-field {
  font-size: 16px;
}

.app-auth-form__field {
  width: 100%;
  z-index: 9999;
}

.app-auth-form__container {
  flex-direction: column;
  width: 290px;
  margin: 10px;
  padding: 20px;
  border-radius: 7px;
  background-color: #FFF;
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
}

.app-auth-form__button {
  height: 50px;
  background-color: var(--color-blue);
  color: var(--color-white);
  z-index: 99999;
}

.app-auth-form__message-errors {
  position: absolute;
  top: 55px;
  left: -5px;
  font-size: 13px;
  color: #f10505;
  z-index: 1;
}

/*home page*/
.home__main-link {
  padding: 0 20px;
  margin-top: 50px;
  max-width: 120px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var( --color-dark-blue);
  color: var(--color-white);
  border-radius: 7px;
  z-index: 5;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

      /*personal-cabinet*/

.app-personal-cabinet-form {
  width: 400px;
}

.app-user-form-account {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-white);
  z-index: 100;
  overflow-y: scroll;
}

.app-user-form-account__form {
  max-width: 600px;
  min-width: 290px;
  z-index: 99999;
}

.app-user-form-account__button {
  width: 100px;
  font-size: 16px;
}

.app-user-form-account__button--close {
  background-color: #ff0202;
  color: #FFFFFF;
}

.app-user-form-account__button--save {
  background-color: #0dd51f;
  color: #FFFFFF;
}


.content-page__app-form-change-account {
  display: none;
}

.content-page__app-form-add-account {
  display: none;
}

.content-page__add-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-page__message-text {
  width: 100%;
  margin: 0 ;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: red;
}

.content-page__button--add-address {
  height: 50px;
  width: 200px;
  margin: 20px 0 0 ;
  background-color: var(--color-green);
  color: var(--color-white);
}

      /*navigation*/
.main-navigation__link {
  margin-top: 30px;
  color: var(--color-blue);
}

.main-navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}


.main-layout-page-header__logo-icon {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid  #ffffff;
}

.navigation-user {
  width: 100%;
}

.main-navigation__users {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;

}

.main-layout-page-header__link-icon {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-white);
  background-color: transparent;
}

.main-navigation__link-auth {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-white);
  border-radius: 7px;
}

.main-navigation__link-auth--register {
  width: 180px;
}

.main-navigation__link-auth--login {
  width: 100px;
}

.content-page__loader {
  position: absolute;
  left: 35%;
}



@media (min-width: 360px) {
  .app-auth-form__container {
    width: 350px;
  }

  .content-page__loader {
    position: absolute;
    left: 40%;
  }
}

@media (min-width: 599px) {

  .app-user-form-account {
    backdrop-filter: blur(2px);
    background: rgba(0,0,0,.3);
  }

  .app-user-form-account__form {
    margin: 70px 8px 5px 5px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%), 0 8px 16px rgb(141, 180, 241);

  }
}

@media (min-width: 850px) {

  .home__main-link {
    display: none;
  }
  .app-auth-form__container {
    width: 380px;
  }

  .content-page__loader {
    left: 50%;
  }

}

@media (min-width: 1024px) {
  /*hover effects*/

  .main-navigation__link:hover {
    opacity: .9;
  }

  .button:hover {
    opacity: .9;
  }

  .main-navigation__link-auth:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
    transition: .2s;
  }

  .main-layout-page-header__logo-icon:hover {
    opacity: .8;
  }

  .main-layout-page-header__link-icon:hover {
    opacity: .8;
  }

  .app-user-form-account__button:hover {
    opacity: .8;
  }

}

/*animation*/

@keyframes curtain {

  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
