<form [formGroup]="indicatorsForm"
      (ngSubmit)="onSubmit()"
      class="indicators__form">
  <div class="indicators__form-item">
    <div class="item-block">
      <svg class="indicators__form-icon" height="30" width="30">
        <use href="./assets/svg/sprites.svg#gas-icon"></use>
      </svg>
      <h2 class="indicators__form-title">ЧЕРКАСИГАЗ</h2>
    </div>
    <input class="indicators__form-input"
           formControlName="indicator"
           placeholder="Показ">
  </div>
  <div class="indicators__form-item">
    <div class="item-block">
      <svg class="indicators__form-icon" height="30" width="30">
        <use href="./assets/svg/sprites.svg#gas-icon"></use>
      </svg>
      <h2 class="indicators__form-title">ЧЕРКАСИОБЛЕНЕРГО</h2>
    </div>
    <input class="indicators__form-input"
           formControlName="indicator"
           placeholder="Показ">
  </div>
  <div class="indicators__form-item">
    <div class="item-block">
      <svg class="indicators__form-icon" height="30" width="30">
        <use href="./assets/svg/sprites.svg#gas-icon"></use>
      </svg>
      <h2 class="indicators__form-title">ЧЕРКАСЬКЕ ХІМВОЛОКНО</h2>
    </div>
    <input class="indicators__form-input"
           formControlName="indicator"
           placeholder="Показ">
  </div>
  <div class="indicators__form-item">
    <div class="item-block">
      <svg class="indicators__form-icon" height="30" width="30">
        <use href="./assets/svg/sprites.svg#gas-icon"></use>
      </svg>
      <h2 class="indicators__form-title">ЧЕРКАСИВОДОКАНАЛ</h2>
    </div>
    <input class="indicators__form-input"
           formControlName="indicator"
           placeholder="Показ">
  </div>
  <div class="indicators__form-item">
    <div class="item-block">
      <svg class="indicators__form-icon" height="30" width="30">
        <use href="./assets/svg/sprites.svg#gas-icon"></use>
      </svg>
      <h2 class="indicators__form-title">ЧЕРКАСИТЕПЛОКОМУНЕНЕРГО</h2>
    </div>
    <input class="indicators__form-input"
           formControlName="indicator"
           placeholder="Показ">
  </div>
  <button type="submit"
          class="indicators__form-btn button">
    Відправити</button>
</form>


<!--  <div class="indicators__form-item">-->
<!--    <div class="item-block">-->
<!--      <svg class="indicators__form-icon" height="30" width="30">-->
<!--        <use href="./assets/svg/sprites.svg#gas-icon"></use>-->
<!--      </svg>-->
<!--      <h2 class="indicators__form-title">ЧЕРКАСИГАЗ</h2>-->
<!--    </div>-->
<!--    <input class="indicators__form-input"-->
<!--           formControlName="indicator"-->
<!--           placeholder="Показ">-->
<!--  </div>-->

