<form class="app-auth-form app-auth-form__container app-auth-form__container--reset-password"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()">

  <app-input-field [label]="'email'"
                   [type]="'email'"
                   [required]="true"
                   formControlName="email">
    <app-message-errors class="app-auth-form__message-errors"
                        [controlsName]="controls.email"></app-message-errors>
  </app-input-field>

  <button class="button app-auth-form__button"
          mat-flat-button
          type="submit">
    <p class="app-auth-form__button-text" *ngIf="!isRequestLoading">Отримати пароль</p>
    <app-main-layout-page-request-loading *ngIf="isRequestLoading"></app-main-layout-page-request-loading>
  </button>

</form>
