.app-auth-form__container--reset-password {
  height: 220px;
}

.app-auth-form__button-text {
  margin: 0;
}

@media (min-width: 420px) {

  .app-auth-form__container--reset-password {
    height: 190px;
  }
}
